--extra-index-url https://download.pytorch.org/whl/cpu

langchain
langchain-groq
langchain-chroma
langchain-huggingface
langgraph
langdetect
chromadb
sentence-transformers
fastapi
uvicorn
langgraph-checkpoint-sqlite
langchain-google-genai