--extra-index-url https://download.pytorch.org/whl/cpu

langchain
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
fastapi
uvicorn
python-dotenv
requests
BackgroundTasks